body { text-align: center; font:300 20px/1.7 'Sansita Swashed';}
body { background-color: cyan;}
.header { display: flex; justify-content: center; align-items: center; }
  .navbar { display: flex; justify-content: center; align-items: center; background:rgb(14, 201, 201); }
  .navbar a { padding: 0 20px; color: #fff; text-decoration: none; text-transform: uppercase; font: 20px 'Stint Ultra Condensed';}
  .menu { padding: 80px 0;}
  .menu {background: cyan; color: #fff;}
      .menu { max-width: 1055px; margin: 0 auto;}
      
